a, a:hover {
	text-decoration: none;
	color: #fff;
}

body {
	/*overflow: hidden;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*background-image: url("../img/grasspatch.jpg");*/
	/*background-repeat: no-repeat;*/
	/*background-position: center;*/
	/*background-size: cover;*/

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 98vh;
}

.information {
	display: flex;
	align-content: center;
	justify-content: center;
}

.stats {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.game {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.board {
	display: flex;
	justify-content: center;
	width: 70%;
}

.board-grid {
	display: grid;
	grid-template-columns: repeat(20, 28px);
	grid-template-rows: repeat(20, 28px);
	grid-gap: 1px;
}

.board-col {
	width: 5%;
}

.board-cell {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	cursor: pointer;
	outline: 1px solid;
}

.building-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 20%;
}

.building-container .option {
	font-size: 28px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	cursor: pointer;
	text-align: center;
}

.building-container .option img {
	width: 100%;
}

.building {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	user-select: none;
}

.drag-over {
	border: dashed 3px #F00;
}

.filled .drag-over {
	border: none;
}

/*selected arrow*/
.arrow-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.fa-arrow-right {
	display: block;
	visibility: hidden;
	scale: 3;
}

/*leaderboard*/
.form-popup {
	position: fixed;
	z-index: 9;
	right: 15px;
	bottom: 0;
	display: none;
	border: 3px solid #f1f1f1;
}

.form-container {
	max-width: 300px;
	padding: 10px;
	background-color: #fff;
}

.form-container input[type=text] {
	width: 100%;
	margin: 5px 0 22px 0;
	padding: 15px;
	border: none;
	background: #f1f1f1;
}

.form-container input[type=text]:focus {
	outline: none;
	background-color: #ddd;
}

.form-container .btn {
	width: 100%;
	margin-bottom: 10px;
	padding: 16px 20px;
	cursor: pointer;
	opacity: 0.8;
	color: #fff;
	border: none;
	background-color: #04aa6d;
}

.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}

.info, .save, .return {
	display: inline-block;
	margin: 0;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #4caf50;
}

.info:hover, .save:hover, .return:hover {
	color: #fff;
}

.save svg {
	margin-left: 6px;
}

#save {
	color: #fff;
	border: none;
	background: none;
}

.modal-dialog {
	max-width: 70%;
}

.modal-content {
	max-height: 70%;
}

.modal-body {
	display: flex;
}

.modal-body_information {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 20%;
}

.modal-body img {
	max-width: 50%;
}

.modal-body_title {
	font-size: larger;
}

.modal-body_desc {
	padding: 20px;
}