body{
    background-image: url("../img/grasspatch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.board {
    margin-top: 20px;
    display: flex;
    width: 70%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.board-col {
    width: 5%;
}

.board-cell {
    height: 30px;
    padding: 2px;
    border: 1px solid #000000;
}

.building-container {
    display: flex;
    padding: 20px;
}

.building-container .option {
    padding: 20px;
    font-size: 28px;
}

.building {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-over {
    border: dashed 3px red;
}

/*leaderboard*/
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

