body {
    height: 98vh;
}

.highScore {
    display: flex;
    background-color: rgb(131, 176, 146);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    font-size: large;
    height: 70%;
}

#myData {
    color: white;
    border: none;
}

#myData div {
    height: 10%;
}

.leaderboard {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button {
    background-color: #45c38c;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 40%;
}

#button:hover {
    background-color: #3fd3ae;
    color: white;
}
  