@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#menuTextContainer {
    position: relative;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

ul {
    position:relative;
}

ul li {
    margin-top: 40px;
    list-style: none;
    text-align: center;
}

ul li a {
    text-decoration: none;
    font-size: 30px;
    padding: 5px 20px;
    display: inline-block;
    color: black;
    font-weight: bold;
}


