@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*, ul, li {
	font-family: 'Signika', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	align-items: center;
	justify-content: center;
	background-image: url("../img/menu_pic_try.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 99vh;
	display: flex;
	align-content: center;
}

#menuTextContainer {
	font-size: 40px;
	position: relative;
	text-align: center;
	color: #fff;
}

/*-the menu bar css-*/
ul {
	margin-top: 20px;
	position: relative;
}

ul li {
	margin-top: 40px;
	list-style: none;
	text-align: center;
}

ul li a {
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	width: 400px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-radius: 25px;
}

a, a:link, a:visited {
	display: inline-block;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #4CAF50;
}

a:hover, a:active {
	cursor: pointer;
	background-color: #479e4b;
}

