@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

* {
	font-family: 'Signika', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	align-items: center;
	justify-content: center;
	background-image: url("../img/menu_pic_try.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#menuTextContainer {
	font-size: 40px;
	position: relative;
	margin-top: 13%;
	margin-bottom: 5%;
	text-align: center;
	color: rgb(255, 255, 255);
}

/*-the menu bar css-*/
ul {
	position: relative;
}

ul li {
	margin-top: 40px;
	list-style: none;
	text-align: center;
}

ul li a {
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	width: 400px;
	padding: 5px 20px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-radius: 25px;
}

ul li a:link, a:visited {
	display: inline-block;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #28a070;
}

a:hover, a:active {
	background-color: rgb(35, 108, 79);
}

